defaults:
  - _self_
  - dataset@dataset.input: h3342
  - dataset@dataset.output: cd3

name: experiment
is_train: true
initial_epoch: 0 # where to start counting epochs
data_folder: ${oc.env:DATA_FOLDER,/Users/georg/Desktop/Scratch.nosync}
checkpoints_dir: ${data_folder}/checkpoints
dataset:
  data_root: ${data_folder}/patches
  input:
    channel: H3342
    mode: raw
    transforms: []
    num_channels: 1
  output:
    channel: CD3
    mode: mask
    transforms: []
    num_channels: 1
  batch_size: 1
  shuffle: true
  num_threads: 4 # number of threads for loading data
  max_size: .inf
norm: batch
initialization: normal
initialization_scale: .02 # scaling factor
gpus: [0]
learning_rate:
  initial: 0.0002
  policy: linear # learning rate policy: linear | step | plateau | cosine
  n_epochs_initial: 100 # number of epochs with the initial learning rate 
  n_epochs_decay: 100 # number of epochs to linearly decay learning rate to zero
  decay_iters: 50  # multiply by a gamma every decay_iters iterations                                                                                                                                                                          
beta1: .5
lambda_L1: 100.0 # weight for L1 loss
discriminator:
  filters: 64
  layers: 3
generator:
  filters: 64
  dropout: true
continue_train: false
verbose: true
log_freq: 100 # log metrics every n iterations
visualize_freq: 400 # log visualizations every n iterations, must be a multiple of log_freq
save_epoch_freq: 5                              
save_latest_freq: 5000 
save_by_iter: false # if false, save only the latest model     


#                batch_size: 1                                                                                                                                                                         [487/605]
#                     beta1: 0.5                                                                                                                                                                                
#           checkpoints_dir: ./checkpoints                                                                                                                                                                      
#            continue_train: False                                                                                                                                                                              
#                 crop_size: 256                                                                                                                                                                                
#                  dataroot: /data/patches                        [default: None]                                                                                                                               
#              dataset_mode: wsi                                  [default: aligned]                                                                                                                            
#                 direction: AtoB                                                                                                                                                                               
#               display_env: main                                                                                                                                                                               
#              display_freq: 400                                                                                                                                                                                
#                display_id: 1                                                                                                                                                                                  
#             display_ncols: 4                                                                                                                                                                                  
#              display_port: 8097                                                                                                                                                                               
#            display_server: http://localhost                                                                                                                                                                   
#           display_winsize: 256                                                                                                                                                                                
#                     epoch: latest                                                                                                                                                                             
#               epoch_count: 1                                                                                                                                                                                  
#                  gan_mode: vanilla                                                                                                                                                                            
#                   gpu_ids: 0                                                                                                                                                                                  
#                 init_gain: 0.02                                                                                                                                                                               
#                 init_type: normal                                                                                                                                                                             
#             input_channel: H3342                                                                                                                                                                              
#                  input_nc: 1                                    [default: 3]                                                                                                                                  
#                input_type: raw                                                                                                                                                                                
#                   isTrain: True                                 [default: None]                                                                                                                               
#                 lambda_L1: 100.0                                                                                                                                                                              
#                 load_iter: 0                                    [default: 0]                                                                                                                                  
#                 load_size: 286                                                                                                                                                                                
#                        lr: 0.0002                                                                                                                                                                             
#            lr_decay_iters: 50                                                                                                                                                                                 
#                 lr_policy: linear                                                                                                                                                                             
#          max_dataset_size: inf                                                                                                                                                                                
#                     model: pix2pix                              [default: cycle_gan]                                                                                                                          
#                  n_epochs: 100                                                                                                                                                                                
#            n_epochs_decay: 100                                                                                                                                                                                
#                n_layers_D: 3                                                                                                                                                                                  
#                      name: dist_transform3                      [default: experiment_name]                                                                                                                    
#                       ndf: 64                                                                                                                                                                                 
#                      netD: basic                                                                                                                                                                              
#                      netG: unet_256                                                                                                                                                                           
#                       ngf: 64                             
#                no_dropout: False                          
#                   no_flip: False                          
#                   no_html: False                          
#                      norm: batch                          
#               num_threads: 4                              
#            output_channel: CD3                            
# output_distance_transform: True                                 [default: False]
#                 output_nc: 1                                    [default: 3]
#               output_type: mask                           
#                     phase: train                          
#                 pool_size: 0                              
#                preprocess: none                                 [default: resize_and_crop]
#                print_freq: 100                            
#              save_by_iter: False                          
#           save_epoch_freq: 5                              
#          save_latest_freq: 5000                           
#            serial_batches: False                          